<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Jetro</title>
    <%- stylesheets %>
    <link href="/css/bootstrap/bootstrap.css" rel="stylesheet">
    <link href="/css/header_footer_fonts.css" rel="stylesheet">
    <link href="/img/icon.png" rel="shortcut icon" type="image/x-icon">
</head>
<body>
<%- partial('../partials/header') %>
<%- body %>
<%- partial('../partials/footer') %>
<script src="/js/lib/jquery.min.js"></script>
<script src="/js/lib/bootstrap.js"></script>
<script src="/js/nav-and-pagination.js"></script>
<%- scripts %>
</body>

</html>